@import url("http://fonts.googleapis.com/css?family=Oxygen:300");
body {
  background: #afeeee;
  color: pink;
  font-family: 'Oxygen';
  font-weight: 300;
  -moz-transition: all, 1s;
  -o-transition: all, 1s;
  -webkit-transition: all, 1s;
  transition: all, 1s;
}
body a:-webkit-any-link {
  color: white;
  text-decoration: none;
}
body.hue {
  background: #d9afee;
}

header {
  position: relative;
}

.logo {
  padding-left: 1em;
  width: 10%;
  position: relative;
}

.sr-only {
  text-indent: -9999em;
  float: left;
}

form {
  -moz-transform: perspective(-50%) translateY(0%);
  -ms-transform: perspective(-50%) translateY(0%);
  -webkit-transform: perspective(-50%) translateY(0%);
  transform: perspective(-50%) translateY(0%);
  position: fixed;
  width: 100vw;
  top: 40vh;
  font-size: 2rem;
  text-align: center;
  overflow: hidden;
  -moz-transform: rotate(-145deg);
  -ms-transform: rotate(-145deg);
  -webkit-transform: rotate(-145deg);
  transform: rotate(-145deg);
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
form:hover {
  -moz-transform: rotate(-130deg);
  -ms-transform: rotate(-130deg);
  -webkit-transform: rotate(-130deg);
  transform: rotate(-130deg);
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
}
form.rotate {
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
form input,
form button {
  border: none;
  outline: none;
  padding: 5px 10px;
  vertical-align: middle;
}
form input[type="search"] {
  height: 20px;
  width: 25px;
  -moz-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0;
  border-radius: 0 40px 40px 0;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
  color: #fff;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
form input[type="search"]:-moz-placeholder {
  color: #fff;
}
form input[type="search"]::-moz-placeholder {
  color: #fff;
}
form input[type="search"]:-ms-input-placeholder {
  color: #fff;
}
form input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}
form input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  text-align: center;
  cursor: pointer;
}
form input[type="search"]::-webkit-search-cancel-button:before {
  display: none;
  color: #501111;
  content: '\00D7';
  line-height: 1;
  margin-right: 2.75em;
  -moz-transition: display, 0.5s;
  -o-transition: display, 0.5s;
  -webkit-transition: display, 0.5s;
  transition: display, 0.5s;
}
form input[type="search"].grow {
  color: #4d4d4d;
  height: 90px;
  width: 435px;
  padding-left: 1em;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
form input[type="search"].grow:-moz-placeholder {
  color: lightgray;
}
form input[type="search"].grow::-moz-placeholder {
  color: lightgray;
}
form input[type="search"].grow:-ms-input-placeholder {
  color: lightgray;
}
form input[type="search"].grow::-webkit-input-placeholder {
  color: lightgray;
}
form input[type="search"].grow::-webkit-search-cancel-button:before {
  display: block;
}
form button {
  position: relative;
  border: 10px solid white;
  background: none;
  color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: -5px;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
  line-height: 0;
}
form button:hover {
  background: rgba(255, 255, 255, 0.2);
}
form button span {
  position: relative;
  left: 12px;
  top: -5px;
  background: #fff;
  content: '';
  height: 2px;
  width: 35px;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
  -moz-transform: rotate(-85deg);
  -ms-transform: rotate(-85deg);
  -webkit-transform: rotate(-85deg);
  transform: rotate(-85deg);
}
form button span:before {
  position: absolute;
  left: -4px;
  top: 12px;
  background: #fff;
  content: '';
  height: 2px;
  width: 25px;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
form button span:after {
  position: absolute;
  left: -4px;
  top: -12px;
  background: #fff;
  content: '';
  height: 2px;
  width: 25px;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
form button.submit {
  margin-left: -104px;
  background: #afeeee;
}
form button.submit:hover {
  background: #afcfee;
}
form button.submit:hover span {
  left: 20px;
}
form button.submit span {
  position: relative;
  left: 12px;
  top: 0;
  background: #fff;
  content: '';
  height: 2px;
  width: 35px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
form button.submit span:before {
  position: absolute;
  left: 15px;
  top: 8px;
  background: #fff;
  content: '';
  height: 2px;
  width: 25px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
form button.submit span:after {
  position: absolute;
  left: 15px;
  top: -8px;
  background: #fff;
  content: '';
  height: 2px;
  width: 25px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  transition-delay: 0.75s;
}

#output {
  margin-top: 22%;
  margin-left: 5%;
  margin-right: 5%;
}

.output-list {
  background: #eeafaf;
  padding: 20px;
  border-radius: 25px;
  margin: 2%;
}
